.featured {
  padding: rem(100) 0 0;
  text-align: center;
  color: #1a0b5b;
  h1 {
    font-weight: 700;
    margin-bottom: rem(48);
  }
  .ft-slider {
    .slick {
      &-track {
        padding: 20px;
      }
      &-dots {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        button {
          border: none;
          background: none;
          text-indent: -9999px;
          background-color: #febad7;
          margin-right: rem(6);
          min-width: 17px;
          max-height: 4px;
          border-radius: 10px;
        }
      }
      &-active > button {
        background-color: #fb2e86;
        margin-right: rem(6);
        min-width: 24px;
        max-height: 4px;
        border-radius: 10px;
      }
    }
    .ft__card {
      margin-right: 30px;
      padding-bottom: 17px;
      min-width: 250px;
      max-width: 270px;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
      @media #{$md} {
        min-width: 200px;
        padding-bottom: 15px;
        margin-right: 25px;
      }
      @media #{$sm} {
        min-width: 150px;
        padding-bottom: 10px;
        margin-right: 20px;
      }
      h4 {
        color: rgba(251, 46, 134, 1);
        margin: 15px 0 28px;
        font-size: rem(18);
      }
      p {
        font-size: rem(14);
      }
      &:hover {
        background-color: rgba(47, 26, 196, 1);
        color: white;
        .ft__img button {
          display: block;
        }
        h4 {
          color: white;
        }
        .ft__img {
          background: #f7f7f7;
        }
      }
      .ft__img {
        display: flex;
        justify-content: center;
        position: relative;
        padding-top: 45px;
        width: 100%;
        background: rgba(246, 247, 251, 1);
        overflow: hidden;
        @media #{$md} {
          padding-top: 25px;
        }
        @media #{$sm} {
          padding-top: 20px;
        }
        img {
          margin-left: auto;
          margin-right: auto;
          width: auto;
          height: 210px;
          @media #{$md} {
            height: 180px;
          }
          @media #{$md} {
            height: 150px;
          }
        }
        button {
          display: none;
          position: absolute;
          bottom: 9px;
          background-color: #08d15f;
          height: 29px;
          width: 94px;
          border: none;
          border-radius: 2px;
          color: white;
          font-size: 12px;
        }
      }
    }
  }
}
