.wrg.container 
    .featured 
        h1 Featured Products
        .ft-slider 
            a(class="ft__card" href="#")
                .ft__img
                    img(src="../../images/products/chair1.png", alt="")
                    button View Details
                h4 Cantilever chair
                p Code Y564FH
                p $42.00
            a(class="ft__card" href="#")
                .ft__img
                    img(src="../../images/products/chair7.png", alt="")
                    button View Details
                h4 Cantilever chair
                p Code Y564FH
                p $42.00
            a(class="ft__card" href="#")
                .ft__img
                    img(src="../../images/products/chair3.png", alt="")
                    button View Details
                h4 Cantilever chair
                p Code Y564FH
                p $42.00
            a(class="ft__card" href="#")
                .ft__img
                    img(src="../../images/products/chair5.png", alt="")
                    button View Details
                h4 Cantilever chair
                p Code Y564FH
                p $42.00
            a(class="ft__card" href="#")
                .ft__img
                    img(src="../../images/products/chair6.png", alt="")
                    button View Details
                h4 Cantilever chair
                p Code Y564FH
                p $42.00
            a(class="ft__card" href="#")
                .ft__img
                    img(src="../../images/products/chair8.png", alt="")
                    button View Details
                h4 Cantilever chair
                p Code Y564FH
                p $42.00
            
            


