.wrg.header {
  background: #000;
  .header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(10) 0;
  }
  h1 {
    margin: 0;
  }
  .header__nav {
    ul {
      li {
        list-style: none;
        display: inline-block;
        margin: 0 rem(10);
        @media #{$sm} {
          font-size: rem(12);
        }
      }
    }
    a {
      color: #fff;
      &.active {
        color: #e4675b;
      }
    }
  }
}
