@function em($value, $base: 16) {
  $newValue: $value / $base * 1em;
  @return $newValue;
}
@function rem($value) {
  $newValue: $value / $bodySize * 1rem;
  @return $newValue;
}
@function px2em($px) {
  @return ($px / $bodyFontSize) * 1em;
}
@mixin font-size($font-size, $line-height: false) {
  font-size: px2em($font-size);
  @if $line-height != false {
    line-height: ($line-height / $font-size);
  }
}
$xs: "screen and (max-width:" + (320px) + ")";
$sm: "screen and (max-width:" + (480px) + ")";
$md: "screen and (max-width:" + (768px) + ")";
$lg: "screen and (max-width:" + (991px) + ")";
$xl: "screen and (max-width:" + (1199px) + ")";
$xxl: "screen and (max-width:" + (1320px) + ")";
