.guide {
  padding: rem(128) 0 rem(128);
  color: #343538;
  @media #{$sm} {
    padding: rem(70) 0 rem(70);
  }
  hr {
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
    margin: rem(20) 0;
  }
  h1 {
    font-size: rem(45);
    margin-bottom: 36px;
    @media #{$sm} {
      font-size: rem(35);
    }
  }
  h3 {
    font-size: rem(23);
    line-height: rem(28);
    margin-bottom: 0;
    @media #{$sm} {
      font-size: rem(15);
    }
  }
  p {
    font-size: rem(18);
    line-height: rem(26);
    @media #{$sm} {
      font-size: rem(16);
    }
  }
  .acc__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .panel {
    margin-top: rem(15);
    li {
      list-style: disc;
      margin-bottom: rem(10);
    }
  }
}

.popup {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: rgb(0, 214, 82);
  padding: rem(10);
  border-radius: 5px;
  a:link {
    color: white;
  }
}
#modal {
  background: white;
  padding: 20px 30px;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
  p {
    color: rgba(0, 0, 0, 0.54);
  }
  div {
    margin-top: rem(10);
    display: flex;
    justify-content: flex-end;
    button {
      color: rgba(0, 150, 136, 1);
      font-weight: 500;
      font-size: rem(14);
      &:first-child {
        margin-right: auto;
      }
    }
  }
  button {
    border: none;
    background: none;
  }
}

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);

  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
