.wrg.guide 
    .container 
        .wow
            h1 Customer Guidelines
        p As an Instacart customer, you play an integral role in ensuring that we cultivate and preserve an environment built on a foundation of Safety, Respect, and Integrity for everyone on the platform.  
        p Your feedback matters, so tell us about your experiences. You can rate orders, chat with support, and submit issues directly in the app or online at Instacart.com.
        p Instacart reviews all reported violations of these Community Guidelines and reserves the right to permanently remove account access for shoppers or customers found to be in violation.* 
        p *In some instances, a thorough investigation may be needed, during which time the associated account(s) will be suspended pending the outcome.
        hr
        #safety.accordion 
            .wow.acc__head.animate__animated.animate__fadeInUp
                h3 Safety is our first priority 
                img(src="../../images/accordion/plus.svg", alt="")
            .panel 
                p Every individual should feel comfortable, safe, and secure using the Instacart platform. We do not permit any activity that could create unsafe conditions or cause harm to others.
                p To ensure the highest level of safety on the platform, we reserve the right to investigate and take action on any instances including, but not limited to, the following:
                ul 
                    li 
                        p Acts of violence or aggression including, but not limited to, assault, violence/threats of violence, aggressive gestures, battery, abusive or threatening mental or verbal treatment, harassment, etc.
                    li 
                        p Sexual conduct of any kind involving customers, contractors, or employees of retailers or Instacart while receiving or facilitating services on the platform.
                    li 
                        p Brandishing a weapon while receiving services unless state law expressly prohibits this restriction.
                    li 
                        p Failure to verify your identity while receiving services on the platform.
                    li 
                        p Demanding shoppers enter a residence. Instacart shoppers are expected to deliver groceries to the customer at their desired address, but are never expected or required to enter the residence of a customer and reserve the right to decline the request.
        hr
        #respect.accordion 
            .wow.acc__head.animate__animated.animate__fadeInUp
                h3 Respect 
                img(src="../../images/accordion/plus.svg", alt="")
            .panel 
                p Every individual should feel comfortable, safe, and secure using the Instacart platform. We do not permit any activity that could create unsafe conditions or cause harm to others.
                p To ensure the highest level of safety on the platform, we reserve the right to investigate and take action on any instances including, but not limited to, the following:
                ul 
                    li 
                        p Acts of violence or aggression including, but not limited to, assault, violence/threats of violence, aggressive gestures, battery, abusive or threatening mental or verbal treatment, harassment, etc.
                    li 
                        p Sexual conduct of any kind involving customers, contractors, or employees of retailers or Instacart while receiving or facilitating services on the platform.
                    li 
                        p Brandishing a weapon while receiving services unless state law expressly prohibits this restriction.
                    li 
                        p Failure to verify your identity while receiving services on the platform.
                    li 
                        p Demanding shoppers enter a residence. Instacart shoppers are expected to deliver groceries to the customer at their desired address, but are never expected or required to enter the residence of a customer and reserve the right to decline the request.
        hr
        #integrity.accordion 
            .wow.acc__head.animate__animated.animate__fadeInUp
                h3 Integrity 
                img(src="../../images/accordion/plus.svg", alt="")
            .panel 
                p Every individual should feel comfortable, safe, and secure using the Instacart platform. We do not permit any activity that could create unsafe conditions or cause harm to others.
                p To ensure the highest level of safety on the platform, we reserve the right to investigate and take action on any instances including, but not limited to, the following:
                ul 
                    li 
                        p Acts of violence or aggression including, but not limited to, assault, violence/threats of violence, aggressive gestures, battery, abusive or threatening mental or verbal treatment, harassment, etc.
                    li 
                        p Sexual conduct of any kind involving customers, contractors, or employees of retailers or Instacart while receiving or facilitating services on the platform.
                    li 
                        p Brandishing a weapon while receiving services unless state law expressly prohibits this restriction.
                    li 
                        p Failure to verify your identity while receiving services on the platform.
                    li 
                        p Demanding shoppers enter a residence. Instacart shoppers are expected to deliver groceries to the customer at their desired address, but are never expected or required to enter the residence of a customer and reserve the right to decline the request.
        hr
        p The Community Guidelines above are not comprehensive, and Instacart reserves the right to suspend or deactivate customer, shopper, or retailer accounts for other reasons as deemed necessary in Instacart’s reasonable and good faith business judgment to ensure the safe and reliable operation of the platform.
        p If your customer account has been deactivated and you have new information or evidence to show it was in error, please submit your evidence through the form found here.

        .popup
            a(href="#modal") Popup Sesame!
        #modal.zoom-anim-dialog.mfp-hide
            h3 Permmissions 
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet consequatur expedita doloremque esse et totam laborum rerum quaerat cupiditate molestiae, voluptatem architecto vero, ab distinctio aliquid harum impedit facere?
            div 
                button MORE INFO
                button DECLINE
                button ACCEPT