.latest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  color: #151875;
  @media #{$xs} {
    padding: 50px 0;
  }
  .active {
    color: #fb2e86;
    text-decoration: underline;
  }
  h1 {
    font-size: rem(42);
    margin-bottom: 19px;
    @media #{$xs} {
      font-size: rem(32);
    }
  }
  ul {
    width: 100%;
    max-width: 527px;
    display: flex;
    justify-content: space-between;
    font-size: rem(18);
    margin-bottom: 58px;
    flex-wrap: wrap;
    li {
      min-width: 100px;
      margin-bottom: 15px;
    }
    @media #{$md} {
      font-size: rem(14);
      margin-bottom: 48px;
    }
    @media #{$md} {
      margin-bottom: 38px;
    }
  }
  .prod {
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @media #{$md} {
      flex-direction: column;
    }
    &__card {
      margin-bottom: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media #{$md} {
        margin-bottom: 70px;
        margin-bottom: 80px;
      }
    }
    &__img {
      position: relative;
      background-color: #f7f7f7;
      min-width: 360px;
      min-height: 270px;
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
      @media #{$md} {
        margin-top: 16px;
        display: flex;
        align-items: center;
        min-width: 260px;
        max-width: 30px;
      }
      &:hover {
        background-color: white;
        .prod__action {
          display: block;
        }
      }
      img {
        height: 100%;
      }
    }
    &__action {
      display: none;
      position: absolute;
      bottom: 30px;
      left: 15px;
      div {
        height: 30px;
        width: 30px;
        padding: 5px;
        margin-top: 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 15px;
        }
        &:hover {
          background: #eeeffb;
        }
      }
    }
    &__sale {
      display: none;
      position: absolute;
      left: 0;
    }
    .sale {
      display: block;
    }
    &__name {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: top;
      & a {
        margin-right: auto;
        border-bottom: 2px solid #eeeffb;
        padding-bottom: 5px;
      }
      & span {
        margin-left: 10px;
        font-size: rem(14);
      }
    }
    &__old {
      color: #fb2448;
      font-size: rem(12);
      text-decoration: line-through;
    }
  }
}
