.wrg.container 
    .latest 
        h1 Latest Products 
        ul 
            li 
                a(href="#" class="tablinks" onclick="openTab(event, 'new')") New Arrival 
            li 
                a(href="#" class="tablinks" onclick="openTab(event, 'best')") Best Seller 
            li 
                a(href="#" class="tablinks" onclick="openTab(event, 'featured')") Featured 
            li 
                a(href="#" class="tablinks" onclick="openTab(event, 'special')") Special Offer 
        #new.prod 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action  
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair1.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale.sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                            div 
                                img(src="../../images/prod-action/cart.svg", alt="")
                            div 
                                img(src="../../images/prod-action/heart.svg", alt="")
                            div 
                                img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair2.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair3.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair4.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up")
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair5.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair6.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
        
        
        #best.prod 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale.sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action  
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair1.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair3.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                            div 
                                img(src="../../images/prod-action/cart.svg", alt="")
                            div 
                                img(src="../../images/prod-action/heart.svg", alt="")
                            div 
                                img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair2.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair4.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair6.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair5.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
             
        
        #featured.prod 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action  
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair1.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                            div 
                                img(src="../../images/prod-action/cart.svg", alt="")
                            div 
                                img(src="../../images/prod-action/heart.svg", alt="")
                            div 
                                img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair2.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair3.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair4.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair5.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale.sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair6.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 


        #special.prod  
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                            div 
                                img(src="../../images/prod-action/cart.svg", alt="")
                            div 
                                img(src="../../images/prod-action/heart.svg", alt="")
                            div 
                                img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair2.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action  
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair1.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair3.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair4.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair5.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
            .prod__card(data-aos="fade-up") 
                .prod__img
                    .prod__sale
                        img(src="../../images/prod-action/sale.svg", alt="")
                    .prod__action 
                        div 
                            img(src="../../images/prod-action/cart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/heart.svg", alt="")
                        div 
                            img(src="../../images/prod-action/zoom.svg", alt="")
                    img(src="../../images/products/chair6.png", alt="")
                .prod__name
                    a(href="#") Comfort Handy Craft 
                    span $42.00
                    span(class="prod__old") $65.00 
              
                