link(rel="stylesheet" href=base + "css/plugin" + min + ".css" )
link(rel="stylesheet" href=base + "css/main" + min + ".css" )

// magnific popup
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css' integrity='sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw==' crossorigin='anonymous' referrerpolicy='no-referrer')

//slick
link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")

//aos
link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")

//wow
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
  